<table class="table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Activité</th>
			<th>Nb Inscrits / Nb places</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for evenement in listeEvenements %}
			<tr {% if evenement.NbInscrits > evenement.NbPlaces %} class="danger" {% endif %}>
				<td>{{ evenement.id }}</td>
				<td>{{ evenement.activite.nom }}</td>
				<td>{{ evenement.NbInscrits }} / {{ evenement.NbPlaces }}</td>
				<td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#{{evenement.id}}"><span class="glyphicon glyphicon-user"></span></button>

				<div id="{{evenement.id}}" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Liste des Inscrits à l'activité {{ evenement.activite.nom }}</h4>
							</div>
							<div class="modal-body">
								{% for enfant in evenement.enfant %}
									{{enfant.nom}} {{enfant.prenom}} </br>
								{% endfor %}
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
							</div>
						</div>
					</div>
				</div>		
				<a href="{{ path('evenement_toPdf', { 'idEv': evenement.id }) }}" class="btn btn-primary"><span class="glyphicon glyphicon-download-alt"></span></a>
				<a href="{{ path('jour_dellevent', { 'id': evenement.id }) }}" class="btn btn-danger" role="button" {% if evenement.estlie %} disabled {% endif %}><span class="glyphicon glyphicon-trash"></span></a>
				<a href="{{ path('jour_editevent', { 'id': evenement.id }) }}" class="btn btn-warning" role="button" ><span class="glyphicon glyphicon-pencil"></span></a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
