<!-- Trigger/Open The Modal -->
<center>
<a class="btn" href="{{ path('voir_profil', {'id':id}) }}"><i class="icon-user"></i></a>

<a href="#{{ id }}" data-toggle="modal" class="btn"><i class="icon-wrench"></i></a> </center>
            <div id="{{ id }}" class="modal hide">
              <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <center><h3>Gestion des droits pour {{ username }}</h3></center>
              </div>
              <div class="modal-body">
               <center> {{ render(controller('AdminBundle:Default:roles',{ 'id': id })) }}</center>
              </div>
			      <div class="modal-footer">
      <center><h3>{{ nom }} {{ prenom }}</h3></center>
    </div>
            </div>

