<a href="#modalfiche{{ dt_item }}" rel="modal:open"  class="button"><i class="fa fa-pencil-square-o"></i></a>
<div id="modalfiche{{ dt_item }}" style="display:none;">
  <div class="modal-content">
    <div class="modal-header">
      <h2>{{ dt_obj.nom }}</h2>
    </div>
    <div class="modal-body">
		{{ render(controller('SejourBundle:Anim:editActiviteUtil', {'idActi': dt_item })) }}
    </div>
  </div>
</div>

<a href="#modaledfiche{{ dt_item }}" rel="modal:open"  class="button"><i class="fa fa-newspaper-o"></i></a>
<div id="modaledfiche{{ dt_item }}" style="display:none;">
    <div class="modal-header">
      <h2>{{ dt_obj.nom }}</h2>
    </div>
    <div class="modal-body">
      <h4> Description de l'activité </h4>
	  <p>{{ dt_obj.description|bbcode_filter('my_default_filter')}}</p>
	  <h4> Matériel </h4>
	  <p>{{ dt_obj.materiel }}</p>
	  <h4> Nb d'Animateurs / Nb mini d'enfants / Nb maxi d'enfants </h4>
	  <p>{{ dt_obj.nbAnim }}/{{ dt_obj.nbEnfantMin }}/{{ dt_obj.nbEnfantMax }}</p>
    </div>
</div>
