<div id="enfant{{ enfant.id }}" style="display:none;">
		<div class="modal-header">
			<h2>Planning de {{ enfant.prenom }} {{ enfant.nom }}</h2>
		</div>
		<div class="modal-body">
			{{ render(controller('SejourBundle:Enfant:PlanningEnfant',{ 'id': enfant.id })) }}
		</div>
		<div class="modal-footer">
			<h3>{{ enfant.sejour.nomThema }}</h3>
		</div>
</div>
