<td width="10%"> 	{% if traitement.Traitement.Midi %}
			{% if traitement.MidiCheck %}
				<i class="fa fa-check" aria-hidden="true"></i>
			{% else %}
				<input id="checkBoxMidi{{traitement.id}}" type="checkbox" alt="{{ traitement.Traitement.MidiPosologie }}" title="{{ traitement.Traitement.MidiPosologie }}" onclick="check(this.id, 1, {{traitement.id }})" name="{{ path('sejour_traitement_check', { 'id': Sejour.id, 'jour' : Jour.id, 'traitement' : traitement.id  , 'moment' : 2 }) }}">
			{% endif %}
		{% else %}
			<i class="fa fa-times" aria-hidden="true"></i>
		{% endif %}
</td>
