{% extends "SejourBundle:sejour:basesejour.html.twig" %}
{% block infirmerie %} class="current" {%endblock%}

{% block titre %}Registre des traitements journaliers{% endblock titre %}



{% block coeur %}
<style>

tr:nth-child(even) {background-color: #f2f2f2}

th, td {
    border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
</style>


<center>
<table class="Matable" border="1px">
	<tr>
		<th> Aller au jour :  </th>
		<th>
		<form>
			<select id="select-id" name="someoptions">
				<option value="{{ path('sejour_traitement', { 'id': Sejour.id, 'jour' : Jour.id }) }}" style="color:red;">{{ Jour.date | localizeddate('full', 'none') }}</option>
				{% for jour in ListeJour %}
					{% if jour.id != Jour.id %}
					<option value="{{ path('sejour_traitement', { 'id': Sejour.id, 'jour' : jour.id }) }}">{{ jour.date | localizeddate('full', 'none') }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</form>
		</th>
		<th colspan="5"> {{ Jour.date|date('d/m') }} </th>

	</tr>
	<tr>
		<th> Enfant </th>
		<th> Traitement </th>
		<th> Matin </th>
		<th> Midi </th>
		<th> Soir </th>
		<th> Couché </th>
		<th> Autre </th>
	</tr>
	{% for traitement in ListeTraitement %}
	<tr>
			<td> {{traitement.Traitement.enfant.prenom }} {{traitement.Traitement.enfant.nom }} </td>
			<td> {{traitement.Traitement.traitement }} </td>
			<td width="10%"> 	{% if traitement.Traitement.Matin %}
						{% if traitement.MatinCheck %}
							<i class="fa fa-check" aria-hidden="true"></i>
						{% else %}
							<input id="checkBoxMatin{{traitement.id}}" type="checkbox" alt="{{ traitement.Traitement.MatinPosologie }}" title="{{ traitement.Traitement.MatinPosologie }}"  onclick="check(this.id, 1, {{traitement.id }})" name="{{ path('sejour_traitement_check', { 'id': Sejour.id, 'jour' : Jour.id, 'traitement' : traitement.id  , 'moment' : 1 }) }}">
						{% endif %}
					{% else %}
						<i class="fa fa-times" aria-hidden="true"></i>
					{% endif %}
			</td>
			<td width="10%"> 	{% if traitement.Traitement.Midi %}
						{% if traitement.MidiCheck %}
							<i class="fa fa-check" aria-hidden="true"></i>
						{% else %}
							<input id="checkBoxMidi{{traitement.id}}" type="checkbox" alt="{{ traitement.Traitement.MidiPosologie }}" title="{{ traitement.Traitement.MidiPosologie }}" onclick="check(this.id, 1, {{traitement.id }})" name="{{ path('sejour_traitement_check', { 'id': Sejour.id, 'jour' : Jour.id, 'traitement' : traitement.id  , 'moment' : 2 }) }}">
						{% endif %}
					{% else %}
						<i class="fa fa-times" aria-hidden="true"></i>
					{% endif %}
			</td>
			<td width="10%"> 	{% if traitement.Traitement.Soir %}
						{% if traitement.SoirCheck %}
							<i class="fa fa-check" aria-hidden="true"></i>
						{% else %}
							<input id="checkBoxSoir{{traitement.id}}" type="checkbox" alt="{{ traitement.Traitement.SoirPosologie }}" title="{{ traitement.Traitement.SoirPosologie }}" onclick="check(this.id, 1, {{traitement.id }})" name="{{ path('sejour_traitement_check', { 'id': Sejour.id, 'jour' : Jour.id, 'traitement' : traitement.id  , 'moment' : 3 }) }}">
						{% endif %}
					{% else %}
						<i class="fa fa-times" aria-hidden="true"></i>
					{% endif %}
			</td>
			<td width="10%"> 	{% if traitement.Traitement.Couche %}
						{% if traitement.CoucheCheck %}
							<i class="fa fa-check" aria-hidden="true"></i>
						{% else %}
							<input id="checkBoxCouche{{traitement.id}}" type="checkbox" alt="{{ traitement.Traitement.CouchePosologie }}" title="{{ traitement.Traitement.CouchePosologie }}" onclick="check(this.id, 1, {{traitement.id }})" name="{{ path('sejour_traitement_check', { 'id': Sejour.id, 'jour' : Jour.id, 'traitement' : traitement.id  , 'moment' : 4 }) }}">
						{% endif %}
					{% else %}
						<i class="fa fa-times" aria-hidden="true"></i>
					{% endif %}
			</td>
			<td width="10%"> 	{% if traitement.Traitement.Autre %}
						{% if traitement.AutreCheck %}
							<i class="fa fa-check" aria-hidden="true"></i>
						{% else %}
							<input id="checkBoxAutre{{traitement.id}}" type="checkbox" alt="{{ traitement.Traitement.AutrePosologie }}" title="{{ traitement.Traitement.AutrePosologie }}" onclick="check(this.id, 1, {{traitement.id }})" name="{{ path('sejour_traitement_check', { 'id': Sejour.id, 'jour' : Jour.id, 'traitement' : traitement.id  , 'moment' : 5 }) }}">
						{% endif %}
					{% else %}
						<i class="fa fa-times" aria-hidden="true"></i>
					{% endif %}
			</td>
		</tr>
	{% endfor %}

</table>
</center>

<br>
<hr>
<br>

<form id="formulaire" method="post">
	<input type="hidden" name="nbligne" id="nbligne" value="1">
	<div id="formpattern">
		<table width="100%">
			<thead>
				<tr>
					<th colspan="5">Nouveau traitement</th>
				</tr>
			</thead>
			<tr>
				<td>
					<label for="enfant" id="enfant" name="enfant">Enfant</label>
					<select id="enfant" name="enfant" required>
					{% for enfant in ListeEnfant %}
						<option value="{{ enfant.id }}">{{ enfant.prenomnom }}</option>
					{% endfor %}
					</select>
				</td>
				<td>
					<label for="datedebut" id="datedebut" name="datedebut">Date de début</label>
					<select id="datedebut" name="datedebut" required onchange="validation();">
					{% for jour in ListeJour %}
						<option value="{{jour.id }}">{{ jour.date | localizeddate('full', 'none') }}</option>
					{% endfor %}
					</select>
				</td>
				<td>
					<label for="datefin" id="datefin" name="datefin">Date de fin</label>
					<select id="datefin" name="datefin" required onchange="validation();">
					{% for jour in ListeJour %}
						<option value="{{jour.id }}">{{ jour.date | localizeddate('full', 'none') }}</option>
					{% endfor %}
					</select>
				</td>
				<td colspan="2">
					<label for="objet" id="objet" name="objet">Traitement à prendre</label>
					<textarea id="objet" name="objet" placeholder="Décrire ici le traitement à prendre : nom du médicament, moyen d'administration, etc..." required></textarea>
				</td>
			</tr>
			<tr>
				<td width="20%">
					<label for="matin" id="matinl" name="matinlabel">Matin</label>
					<input id="matin" type="checkbox" name="matin" onclick="updateTemp(this.id);"/>
				</td>
				<td width="20%">
					<label for="midi" id="midil" name="midilabel">Midi</label>
					<input id="midi" type="checkbox" name="midi" onclick="updateTemp(this.id);"/>
				</td>
				<td width="20%">
					<label for="soir" id="soirl" name="soirlabel">Soir</label>
					<input id="soir" type="checkbox" name="soir" onclick="updateTemp(this.id);"/>
				</td>
				<td width="20%">
					<label for="couche" id="couchel" name="couchelabel">Couché</label>
					<input id="couche" type="checkbox" name="couche" onclick="updateTemp(this.id);"/>
				</td>
				<td width="20%">
					<label for="autre" id="autrel" name="autrelabel" >Autre</label>
					<input id="autre" type="checkbox" name="autre" onclick="updateTemp(this.id);"/>
				</td>
			</tr>
			<tr>
				<td width="20%">
					<label for="matinposologie" id="matinposologielabel" name="matinposologielabel" style="display: none;" >Posologie</label>
					<input type="text" id="matinposologie" name="matinposologie" style="display: none;">
				</td>
				<td width="20%">
					<label for="midiposologie" id="midiposologielabel" name="midiposologielabel" style="display: none;" >Posologie</label>
					<input type="text" id="midiposologie" name="midiposologie" style="display: none;">
				</td>
				<td width="20%">
					<label for="soirposologie" id="soirposologielabel" name="soirposologielabel" style="display: none;" >Posologie</label>
					<input type="text" id="soirposologie" name="soirposologie" style="display: none;">
				</td>
				<td width="20%">
					<label for="coucheposologie" id="coucheposologielabel" name="coucheposologielabel" style="display: none;" >Posologie</label>
					<input type="text" id="coucheposologie" name="coucheposologie" style="display: none;">
				</td>
				<td width="20%">
					<label for="autreposologie" id="autreposologielabel" name="autreposologielabel" style="display: none;" >Posologie</label>
					<input type="text" id="autreposologie" name="autreposologie" style="display: none;">
				</td>
			</tr>
			<tr>
				<th colspan="5"> <br> </th>
			</tr>
		</table>
	</div>
	<div id="formAdd"> </div>
	<INPUT TYPE="submit" NAME="nom" VALUE=" Enregistrer les traitements ">
</form>
<br>
<button type="submit" onclick="clone()">Ajout Ligne</button>
<button type="submit" onclick="remove()" id="removebtn" disabled>Enlever Ligne</button>



<script>
var ligne = 1;
function updateTemp(Id) {

	  if (document.getElementById(Id).checked) 
	  {
		document.getElementById(Id.concat('posologie')).disabled = false;
		document.getElementById(Id.concat('posologie')).required = true;
		document.getElementById(Id.concat('posologie')).style.display = 'block';		
		document.getElementById(Id.concat('posologielabel')).style.display = 'block';	
	  } else {
		document.getElementById(Id.concat('posologie')).disabled = true;
		document.getElementById(Id.concat('posologie')).required = false;
		document.getElementById(Id.concat('posologie')).style.display = 'none';	
		document.getElementById(Id.concat('posologielabel')).style.display = 'none';	
	  }
				  
        }
function clone() {
var x=document.getElementById('formpattern');

var elms1 = x.getElementsByTagName("select");
for (var i = 0; i < elms1.length; i++) {
}

var clone=x.cloneNode(true);
clone.id= "formpattern"+ligne.toString();
var elms = clone.getElementsByTagName("select");
for (var i = 0; i < elms.length; i++) {
	var idnom = elms[i].name;
	elms[i].name = ligne.toString().concat(idnom);
	elms[i].id = ligne.toString().concat(idnom);
}

var elms1 = clone.getElementsByTagName("input");
for (var i1 = 0; i1 < elms1.length; i1++) {
	var idnom1 = elms1[i1].name;
	var id1 = elms1[i1].id;
	if(elms1[i1].type=="checkbox")
	{
		elms1[i1].checked = false;
	}
	elms1[i1].setAttribute("name",ligne.toString().concat(idnom1));
	elms1[i1].id = ligne.toString().concat(id1);	
}

var elms2 = clone.getElementsByTagName("label");
for (var i2 = 0; i2 < elms2.length; i2++) {
	var idnom2 = elms2[i2].getAttribute("name");
	var id2 = elms2[i2].id;
	elms2[i2].setAttribute("name",ligne.toString().concat(idnom2));
	elms2[i2].id = ligne.toString().concat(id2);	
}

var elms3 = clone.getElementsByTagName("textarea");
for (var i3 = 0; i3 < elms3.length; i3++) {
	elms3[i3].value = null;
	var idnom3 = elms3[i3].getAttribute("name");
	var id3 = elms3[i3].id;
	elms3[i3].setAttribute("name",ligne.toString().concat(idnom3));
	elms3[i3].id = ligne.toString().concat(id3);	
	
}


document.getElementById('formAdd').appendChild(clone);
ligne+=1;
document.getElementById('nbligne').value=ligne;
for (var i1 = 0; i1 < elms1.length; i1++) {
	if(elms1[i1].type=="checkbox")
	{
		updateTemp(elms1[i1].id);
	}	
}
if(ligne>=2)
{
document.getElementById("removebtn").disabled = false;
}
else{
document.getElementById("removebtn").disabled = true;
}
}

function remove() {
ligne-=1;
document.getElementById('nbligne').value=ligne;
var pattern= document.getElementById("formpattern"+ligne.toString());
document.getElementById('formAdd').removeChild(pattern);
if(ligne>=2)
{
document.getElementById("removebtn").disabled = false;
}
else{
document.getElementById("removebtn").disabled = true;
}

}

function validation(){
var elms = document.getElementsByTagName("select")
var error = false;
for (var i = 1; i < elms.length; i+=3) {
	if(parseInt(elms[i+2].value) < parseInt(elms[i+1].value))
	{
		elms[i+2].setCustomValidity("La date de fin ne peut être inferieure à la date de début !");
		error = true;
	}
	else
	{
		elms[i+2].setCustomValidity('');
	}

}
}

function check(id, Moment, idTraitement)
{
var cb = document.getElementById(id)
	if (cb.checked) 
		{
			if(confirm("Ce traitement a t'il bien été donné ?"))
				{
					window.location.href = cb.name;
				}
			else
				{
					cb.checked = false;
				}	
		}
	else{
			return false;
		}
}
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script> 
$('#select-id').change(function() {
   url = $('#select-id').val();
   window.location.href = url;
});
</script>	
{% endblock %}

