{% extends "SejourBundle:sejour:basesejour.html.twig" %}

{% block titre %}Planning journalier {% endblock titre %}
{% block soustitre %} Activités prévues le {{ jour.date| localizeddate('full', 'none') }}{% endblock soustitre %}
{% block coeur %}


<div class="container">
	<a class="button" href="{{ path('jour_addevent', {'idSejour': Sejour.id, 'id' : jour.id }) }}"><i class="fa fa-calendar-plus-o fa-lg"></i> Ajouter une activité</a>

	{% include "SejourBundle:RecapJour:TableauActi.html.twig" %}

	<h3>Liste des Enfants inscrits sur le séjour : </h3> 

	<div class="container">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#collapse3">Enfants non inscrits aux activités ({{ listeEnfantsNulle|length }})</a>
					</h4>
				</div>
				<div id="collapse3" class="panel-collapse collapse">
					<div class="panel-body">
						{% include "SejourBundle:RecapJour:TableAffectation.html.twig" with {'listeEnfant': listeEnfantsNulle, 'modifie': false, 'jour': jour } only %}
					</div>
					<div class="panel-footer">{{ listeEnfantsNulle|length }} enfants non inscrits aux activités</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#collapse2">Enfants inscrits partiellement aux activités ({{ listeEnfantsIncomplet|length }})</a>
					</h4>
				</div>
				<div id="collapse2" class="panel-collapse collapse">
					<div class="panel-body">
						{% include "SejourBundle:RecapJour:TableAffectation.html.twig" with {'listeEnfant': listeEnfantsIncomplet, 'modifie': true, 'jour': jour } only %}
					</div>
					<div class="panel-footer">{{ listeEnfantsIncomplet|length }} enfants partiellement inscrits </div>
				</div>
			</div>
		</div>
	</div>
	 
	<div class="container">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#collapse1">Enfants inscrits complètement aux activités ({{ listeEnfantsComplet|length }})</a>
					</h4>
				</div>
				<div id="collapse1" class="panel-collapse collapse">
					<div class="panel-body">
						{% include "SejourBundle:RecapJour:TableAffectation.html.twig" with {'listeEnfant': listeEnfantsComplet, 'modifie': true, 'jour': jour } only %}
					</div>
					<div class="panel-footer"> {{ listeEnfantsComplet|length }} enfants inscrits complètement</div>
				</div>
			</div>
		</div>
	</div>
</div>

<center>
<a class="button" href="{{ path('sejour_edit', { 'id': jour.sejour.id }) }}"><i class="fa fa-angle-double-left fa-lg"></i> Retour au séjour</a>
</center>
{% endblock %}
