{% extends "SejourBundle:sejour:basesejour.html.twig" %}

{% block titre %}Planning journalier {% endblock titre %}
{% block soustitre %} Activités prévues le {{ jour.date| localizeddate('full', 'none') }}{% endblock soustitre %}
{% block style %}
<meta charset='utf-8' />
<link rel='stylesheet' href='/bundles/fullcalendar/fullcalendar.min.css' />
<script src='/bundles/fullcalendar/lib/jquery.min.js'></script>
<script src='/bundles/fullcalendar/lib/moment.min.js'></script>
<script src='/bundles/fullcalendar/fullcalendar.min.js'></script>
<script src='/bundles/fullcalendar/locale/fr.js'></script>
<script>
	$(document).ready(function() {
		$('#calendar').fullCalendar({
			locale: 'fr',
			height: 'auto',
			customButtons: 
				{
				{% if nav[0] %}
				prevButton: 
					{
					icon: 'left-single-arrow',
					click: function() {window.location.href = "{{ path('jour_indexjour', { 'idSejour': Sejour.id, 'id': nav[0] }) }}";}
					},
				{% endif %}
				{% if nav [1] %}
				nextButton: 
					{
					icon: 'right-single-arrow',
					click: function() {window.location.href = "{{ path('jour_indexjour', { 'idSejour': Sejour.id, 'id': nav[1] }) }}";}
					}
				{% endif %}
				},
			slotEventOverlap:false,
			header: {
				left: '{% if nav[0] %}prevButton{% endif %}',
				center: '',
				right: '{% if nav [1] %}nextButton{% endif %}'
			},
			viewRender: function(view, element) {
				element.find('.fc-day-header').html('');
				element.find('.fc-head').html('');
			},
			allDaySlot : false,
			minTime : "07:00",
			maxTime : "23:30",
			nowIndicator : true,
			defaultView:'agendaDay',
			timeFormat: 'H:mm',
			defaultDate: "{{ jour.date|date('m/d/Y') }}",
			editable: true,
			eventLimit: true, 
			eventMouseover: function(calEvent) {
			$("body").css("cursor", "pointer");
            $(this).css('background-color', '#ABCADD');
			$(this).css('transform', 'scale(1.05)');
			$(this).css('z-index', '1000');
			$(this).css('box-shadow', '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)');
			$(this).css('border-color', '#ABCADD');
			},
			eventMouseout: function(calEvent) {
			$("body").css("cursor", "default");
			$(this).css('background-color', calEvent.color);
			$(this).css('box-shadow', 'none');
			$(this).css('transform', 'scale(1)');
			$(this).css('z-index', '1');
			$(this).css('border-color', calEvent.color);
			},
			eventClick: function(calEvent) {
				$("a[href='#choix'][rel='modal:open']").click();
				$('.FormulaireAnim').attr('id', calEvent.id);				
			},
			{% if is_granted('ROLE_ADJOINT') %}
			eventResize: function(event) {
				changeDate(event);				
			},
			eventDrop: function(event) {
				changeDate(event);
			},
			{% endif %}
			events: {
			url: "{{path('jour_json_request',{ 'idSejour': Sejour.id, 'id' : jour.id }) }}",
			type : 'POST'
			}
		});
	});	
{% if is_granted('ROLE_ADJOINT') %}	
function changeDate(event){
	var data = {};
	data['ev']=event.id;
	data['start']=event.start.format('HH:mm');
	var Year = {{ jour.date|date('Y') }};
	var Month = {{ jour.date|date('m') }};
	var Day = {{ jour.date|date('d') }};
	if(event.end > new Date(Year+'-'+Month+'-'+Day+' '+'23:59:00'))
	{
		data['end']='23:30';
	}
	else
	{
		data['end']=event.end.format('HH:mm');
	}
	$("a[href='#evAnim'][rel='modal:open']").click();
	$(".FormulaireAnim").empty();
	$(".FormulaireAnim").append('<center><i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i><br><strong> Modification de l\`évènement en cours</strong></center>');	
	$.ajax({
		url: "{{path('jour_json_modifie',{ 'idSejour': Sejour.id, 'id' : jour.id }) }}",
		method: "post",
		data : data,
		}).done(function(msg){
		myfunction(msg);
				});
}
function myfunction(msg){
	if( msg['statut'] == 'ok')
	{
	$(".FormulaireAnim").empty();
	$(".FormulaireAnim").append('<center><strong> L\'évènement a bien été modifié</strong></center>');	
    $('#calendar').fullCalendar( 'refetchEventSources');
	$('#calendar').fullCalendar( 'refetchEvents' );
	}
	else if( msg['statut'] == 'conflit')
	{
	$(".FormulaireAnim").empty();
	$(".FormulaireAnim").append(msg['data']);	
    $('#calendar').fullCalendar( 'refetchEventSources');
	$('#calendar').fullCalendar( 'refetchEvents' );	
	}
}
function Anim(){
			$("a[href='#choix'][rel='modal:close']").click();
			$("a[href='#evAnim'][rel='modal:open']").click();
			$(".FormulaireAnim").empty();
			$(".FormulaireAnim").append('<center><i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i></center>');
			$.ajax({
			  type: "GET",
			  url: "{{path('jour_evenement_anim',{ 'idSejour': Sejour.id, 'idJour' : jour.id }) }}",
			  data: { ev : $('.FormulaireAnim').attr('id') },
			  dataType: "json",
			  success: function(data) {
				$(".FormulaireAnim").empty();
				$(".FormulaireAnim").append(data);
			  }
			});
}
function Enfant(){
			$("a[href='#choix'][rel='modal:close']").click();
			$("a[href='#evAnim'][rel='modal:open']").click();
			$(".FormulaireAnim").empty();
			$(".FormulaireAnim").append('<center><strong>En Cours de Construction</strong></center>');
}
{% endif %}
$.fn.serializeObject = function()
{
    var o = {};
    var a = this.serializeArray();
    $.each(a, function() {
        if (o[this.name] !== undefined) {
            if (!o[this.name].push) {
                o[this.name] = [o[this.name]];
            }
            o[this.name].push(this.value || '');
        } else {
            o[this.name] = this.value || '';
        }
    });
    return o;
};
$(function() {
    $(document).on("click", ".formAnimSubmit", function(e){

		e.preventDefault();
		var data = $('#formAnim').serializeObject();
		var evId =  $('.FormulaireAnim').attr('id') ;
		$(".FormulaireAnim").empty();
		$(".FormulaireAnim").append('<center><i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i><br><h3> Enregistrement des modifications </h3></center>');
		$.ajax({
		url : "{{path('jour_evenement_anim',{ 'idSejour': Sejour.id, 'idJour' : jour.id }) }}",
		type: 'POST',
		dataType: 'json',
		data: {data},
		success:function(data){
			$(".FormulaireAnim").empty();
		  if(data.status == 'ok'){
			$(".FormulaireAnim").append('<center><h3> Les affectations ont bien étés enregistrées </h3></center>');
		  }
		}
		});
  
  
    });
});
</script>
<style>
	body {
		margin: 40px 10px;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}

	#calendar {
		max-width: auto;
		margin: 0 auto;
	}
</style>
{% endblock style %}
{% block coeur %}
<center><a href="#AddActi" rel="modal:open"  class="button"><i class="fa fa-calendar-plus-o fa-lg"></i> Ajouter une activité</a></center>
<div id="AddActi" style="display:none;">
	<center>
	<div style="width:80%;">
	    {{ render(controller('SejourBundle:Jour:jourAddEvent',{ 'idSejour': Sejour.id, 'id' : jour.id })) }}
	</br>
	</div>
	</center>
	<div class="modal-footer">
	</div>
</div>

<div id='calendar' style="width: 100%; display: inline-block;"></div>
		
<a href="#choix" rel="modal:open" style="display:none;"></a>
<a href="#choix" rel="modal:close" style="display:none;"></a>
<div id="choix" style="display:none;">
<center><button id="Enfantbtn" onclick="Anim();"><i class="fa fa-calendar-plus-o fa-lg"></i> Affecter les animateurs</button>
<button id="Enfantbtn" onclick="Enfant();"><i class="fa fa-calendar-plus-o fa-lg"></i> Affecter les enfants</button></center>
</div>	

<a href="#evAnim" rel="modal:open" style="display:none;"></a>
<div id="evAnim" style="display:none;">
	<div class="FormulaireAnim"></div>
</div>
{% endblock %}
