{% extends "SejourBundle:sejour:basesejour.html.twig" %}

{% block titre %}Planning d'activités {% endblock titre %}
{% block style %}
<meta charset='utf-8' />
<link rel='stylesheet' href='/bundles/fullcalendar/fullcalendar.css' />
<script src='/bundles/fullcalendar/lib/jquery.min.js'></script>
<script src='/bundles/fullcalendar/lib/moment.min.js'></script>
<script src='/bundles/fullcalendar/fullcalendar.js'></script>
<script src='/bundles/fullcalendar/locale/fr.js'></script>
<script>
	$(document).ready(function() {
		
		$('#calendar').fullCalendar({
			locale: 'fr',
			height: 'auto',
			header: {
				center: 'month,agendaFourDay' // buttons for switching between views
			},
			defaultView : 'agendaFourDay',
			views: 	{
					agendaFourDay: 	{
									type: 'agenda',
									duration: { days: {{ NbJours }} },
									buttonText: '4 day'
									}
					},
					
			slotEventOverlap:false,
			header: {
				left: '',
				center: '',
				right: ''
			},
			viewRender: function(view, element) {
			},
			defaultDate: "{{ Sejour.dateDebut|date('m/d/Y') }}",
			allDaySlot : false,
			minTime : "07:00",
			maxTime : "23:30",
			nowIndicator : true,
			columnFormat : 'ddd D/M',
			timeFormat: 'H:mm',
			editable: false,
			eventLimit: true,
			eventMouseover: function(calEvent) {
			$("body").css("cursor", "pointer");
            $(this).css('background-color', '#ABCADD');
			$(this).css('transform', 'scale(1.1)');
			$(this).css('z-index', '1000');
			$(this).css('box-shadow', '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)');
			$(this).css('border-color', '#ABCADD');
			},
			eventMouseout: function(calEvent) {
			$("body").css("cursor", "default");
			$(this).css('background-color', calEvent.color);
			$(this).css('box-shadow', 'none');
			$(this).css('transform', 'scale(1)');
			$(this).css('z-index', '1');
			$(this).css('border-color', calEvent.color);
			},
			eventClick: function(calEvent) {
				$("a[href='#" + calEvent.id + "'][rel='modal:open']").click();
				
			},			
			events: [
				{% for evenement in listEvenementSejour %}
				{
					title: '{{ evenement[1].activite.nom }}',
					start: "{{ evenement[0] | date('Y-m-d') }}T{{evenement[1].heureDebut | date('H:i')}}",
					end: "{{ evenement[0] | date('Y-m-d') }}T{{ evenement[1].heureFin | date('H:i') }}",
					color: "{{ evenement[1].activite.categorie.couleur }}",
					id: "ev{{ evenement[1].id }}",
				},
				{% endfor %}
				
			]
		});
		
	});






</script>
<style>

	body {
		margin: 40px 10px;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}

	#calendar {
		max-width: auto;
		margin: 0 auto;
	}

</style>
{% endblock style %}
{% block coeur %}
<center><a href="{{ path('sejour_planning_pdf',{ 'id': Sejour.id}) }}"  class="button"><i class="fa fa-file-pdf-o fa-lg"></i> Exporter</a></center>
<div id='calendar' style="width: 100%; display: inline-block;"></div>
	
{% for evenement in listEvenementSejour %}
<a href="#ev{{ evenement[1].id }}" rel="modal:open" style="display:none;"></a>
  <div id="ev{{ evenement[1].id }}" style="display:none;">
    <h2> {{ evenement[1].activite.nom }} </h2>
	<h3> Le {{ evenement[0] | localizeddate('full', 'none') }} de {{evenement[1].heureDebut | date('H\\hi')}} à {{ evenement[1].heureFin | date('H\\hi') }} </h3>
  </div>
{% endfor %} 
{% endblock %}
